In [35]:
%pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in /home/ansue1234/.local/lib/python3.10/site-packages (2.2.2)
Requirement already satisfied: numpy>=1.22.4 in /home/ansue1234/.local/lib/python3.10/site-packages (from pandas) (2.1.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/ansue1234/.local/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: tzdata>=2022.7 in /home/ansue1234/.local/lib/python3.10/site-packages (from pandas) (2024.1)
Requirement already satisfied: pytz>=2020.1 in /usr/lib/python3/dist-packages (from pandas) (2022.1)
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [1]:
import pandas as pd
import numpy as np

In [2]:
dt = 0.075


pts = lambda t: np.ones(int(t/dt))


# we want 2 sec of 1, 1, 2 sec of 1, -1, 2 sec of -1, -1, 2 sec of -1, 1, 2 sec of 1, 1

# first 2 sec
throttles = np.vstack((pts(3), pts(3)))
# # second 2 sec
throttles_2 = np.vstack((pts(3), -pts(3)))
# # third 2 sec
throttles_3 = np.vstack((-pts(6), -pts(6)))
# # fourth 2 sec
throttles_4 = np.vstack((-pts(12), pts(12)))

throttles_5 = np.vstack((pts(6), pts(6)))

throttles_6 = np.vstack((pts(3), -pts(3)))

throttles = np.hstack((throttles, throttles_2, throttles_3, throttles_4, throttles_5, throttles_6)).T

df = pd.DataFrame(throttles, columns=['throttle_x', 'throttle_y'])

In [3]:
df

     throttle_x  throttle_y
0           1.0         1.0
1           1.0         1.0
2           1.0         1.0
3           1.0         1.0
4           1.0         1.0
..          ...         ...
435         1.0        -1.0
436         1.0        -1.0
437         1.0        -1.0
438         1.0        -1.0
439         1.0        -1.0

[440 rows x 2 columns]

In [4]:
df.to_csv('../traj/trajectories.csv', index=False)