# Use this Notebook to generate training and testing data from cleaned data

In [1]:
import pandas as pd
import numpy as np
import os
from robo_limb_ml.utils.utils import concat_data

Getting velocities

In [2]:
train_directory = '../../raw_data/purple_limb_no_cool_down/train'
test_directory = '../../raw_data/purple_limb_no_cool_down/test'
col_order = ['time_begin',
             'time_begin_traj',
             'theta_x',
             'theta_y',
             'vel_x',
             'vel_y',
             'X_throttle',
             'Y_throttle'
             ]
train_data = (concat_data(train_directory, vel=True)
              .drop(columns=['time', 'PX_raw', 'NX_raw', 'PY_raw', 'NY_raw']))[col_order]
test_data = (concat_data(test_directory, vel=True)
             .drop(columns=['time', 'PX_raw', 'NX_raw', 'PY_raw', 'NY_raw']))[col_order]

In [3]:
train_data.to_csv('../../ml_data/purple_no_cool_down_train_data.csv', index=False)
test_data.to_csv('../../ml_data/purple_no_cool_down_test_data.csv', index=False)

In [7]:
train_data.describe()

,time_begin,time_begin_traj,theta_x,theta_y,vel_x,vel_y,X_throttle,Y_throttle
count,125423.000000,125423.000000,125423.000000,125423.000000,125423.000000,125423.000000,125423.000000,125423.000000
mean,923.419685,676.808117,-1.642394,-2.427041,0.024730,0.004031,0.136371,0.280610
std,560.735596,549.550197,42.162769,41.814874,12.874498,15.775622,3.956719,3.751154
min,0.354000,0.354000,-100.830000,-101.100000,-155.942029,-112.857143,-10.000000,-10.000000
25%,433.892500,183.288000,-37.260000,-36.950000,-8.266691,-9.850746,-2.000000,-2.000000
50%,911.815000,558.528000,-1.500000,-3.720000,0.000000,0.000000,0.000000,0.000000
75%,1396.460000,1083.349000,34.560000,32.300000,8.545455,9.704242,3.000000,3.000000
max,2089.692000,2043.574000,91.750000,102.060000,98.358209,100.588235,10.000000,10.000000

In [8]:
train_data[np.abs(train_data['vel_x']) > 90]

,time_begin,time_begin_traj,theta_x,theta_y,vel_x,vel_y,X_throttle,Y_throttle
1687,145.211,145.211,2.95,-6.32,-91.076923,-21.538462,-9.0,0.0
7259,708.473,332.661,10.54,-12.73,91.940299,-68.059701,3.0,-6.0
17260,1673.553,640.440,-1.83,-17.59,91.029412,-9.411765,2.0,0.0
42062,25.942,25.942,-46.57,89.76,-155.942029,-19.855072,-10.0,0.0
112034,794.940,794.940,-6.77,-29.30,91.142857,-66.142857,10.0,-3.0
112384,826.889,826.889,-0.91,-4.12,93.134328,-22.089552,6.0,-1.0
125184,2014.668,2014.668,8.89,-3.23,98.358209,-49.850746,4.0,-1.0

,time_begin,time_begin_traj,theta_x,theta_y,vel_x,vel_y,X_throttle,Y_throttle
42060,25.765,25.765,-28.66,91.13,-7.475728,0.000000,-10.0,0.0
42061,25.873,25.873,-35.81,91.13,-66.203704,0.000000,-10.0,0.0
42062,25.942,25.942,-46.57,89.76,-155.942029,-19.855072,-10.0,0.0
42063,26.009,26.009,-51.96,87.60,-80.447761,-32.238806,-10.0,0.0
42064,26.077,26.077,-52.84,86.18,-12.941176,-20.882353,-10.0,0.0
42065,26.144,26.144,-52.84,86.18,0.000000,0.000000,-10.0,0.0
42066,26.212,26.212,-53.35,85.30,-7.500000,-12.941176,-10.0,0.0
42067,26.280,26.280,-53.95,84.59,-8.823529,-10.441176,-10.0,0.0
42068,26.347,26.347,-55.38,83.69,-21.343284,-13.432836,-10.0,0.0
42069,26.415,26.415,-57.02,82.52,-24.117647,-17.205882,-10.0,0.0